/* general */
*,
body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    min-height: 700px;
    background-color: rgb(0, 0, 0, 0.7);
}

h1 {
    color: white;
    font-size: 68px;
    text-align: center;
    margin: auto;
    padding-top: 180px;
}

p {
    color: white;
    font-size: 32px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

span {
    text-shadow: 1px 1px 2px black, 3px 3px 3px red, 5px 5px 6px green;
}

.tomatoes {
    display: flex;
    justify-content: center;
}

.tomatoes img {
    height: 80px;
    padding: 50px 20px;
}

/* MEALS */
.title {
    color: black;
    font-size: 24px;
    padding-top: 20px;
}

.meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: center;
    padding: 60px 120px;
}

.image-container {
    text-align: center;
}

.meal img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}

.description {
    color: black;
    font-size: 18px;
    padding: 16px 24px;
    font-style: italic;
}

