/* general */
*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80");
    min-height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    min-height: 750px;
    background-color: rgb(0, 0, 0, 0.7);
}

h1 {
    color: white;
    font-size: 68px;
    text-align: center;
    margin: auto;
    padding-top: 180px;
    font-family: 'McLaren', cursive;
}

p {
    color: white;
    font-size: 32px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

span {
    text-shadow: 1px 1px 2px black, 3px 3px 3px red, 5px 5px 6px green;
}

.tomatoes {
    display: flex;
    justify-content: center;
}

.tomatoes img {
    height: 80px;
    padding: 50px 20px;
}

/* MEALS */
.title {
    color: black;
    font-size: 24px;
    padding-top: 20px;
}

.meals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: center;
    padding: 60px 120px;
}

.image-container {
    text-align: center;
}

.meal img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    color: rgb(213, 11, 11);
    font-family: 'McLaren', cursive;
}

.container-reviews h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 3px 3px 3px rgba(213, 11, 11, 0.783), 5px 5px 6px green;
}

.description {
    color: black;
    font-size: 16px;
    padding: 16px 60px;
    font-style: italic;
}

.write-review {
    margin-left: 24%;
    margin-right: 24%;
    padding-bottom: 60px;
}

form {
    margin-top: 50px;
    margin-bottom: 70px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px 0 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid rgba(213, 11, 11, 0.269);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(213, 11, 11, 0.269);
    color: white;
    font-size: 16px;
}

.star-widget {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 0;
}

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 30px;
    color: rgba(213, 11, 11, 0.269);
    padding: 10px;
    transition: all 0.2s ease;
}

.star-label,
label {
    color: rgb(254, 227, 227);
    font-size: 20px;
    text-align: left;
    margin-bottom: 16px;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
    color: #fd4;
}

input:checked~label {
    color: #fd4;
}

input#rate-5:checked~label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(213, 11, 11, 0.269);
    border-radius: 4px;
    resize: none;
    margin-top: 16px;
    background-color: rgba(213, 11, 11, 0.269);
}

input[type=submit] {
    background-color: rgba(213, 11, 11, 0.358);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: green;
}

.container-reviews {
    padding: 0;
    background-color: rgb(14, 6, 6);
}

.reviews {
    margin:0;
    padding-left: 24%;
    padding-right: 24%;
    background-color: black;
}

.reviews ul {
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.reviews p {
    color: white;
    text-align: center;
    background-color: rgb(14, 6, 6);
}

.writer {
    padding-top: 40px;
    font-size: 18px;
}

.rating {
    font-size: 20px;
    padding-top: 20px;
}

.comment {
    font-size: 24px;
    padding: 30px 20px 40px;
    margin-bottom: 30px;
}

.error-message {
    font-size: 14px;
    color: red;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 0;
}

.comment-container {
    padding-top: 20px;
    padding-bottom: 20px;
}